@model List<Order>
@{
}
<center>
    <h1>Orderhistory</h1>
</center>

@foreach (var item in Model)
{
    <li class="list-group">
        <p>OrderID: @item.OrderID</p>
        <p>OrderMadeAt: @item.OrderMadeAt</p>
        <p>TotalSum: @item.TotalSum</p>
        <p>UserID: @item.UserID</p>

        <form class="form-control" method="post"
              asp-controller="Order" asp-action="DeleteSingleOrderHistory" asp-route-OrderID="@item.OrderID">
            <button type="submit" class="btn btn-danger" style="float:right">Remove</button>
        </form>
    </li>
    <p style="border:1px; border-style:solid; border-color:#000000"></p>
}