@model ProductDetails
@{
}
<center>
    <h1>@Model.Productlist[Model.ID - 1].Name</h1>
</center>
<br />

<div class="row">

    <div class="col-md-6">
        <div class="card h-auto" style="padding:15px">
            @{ string img = Model.Productlist[Model.ID - 1].Name + ".jpg";}
            <img src="~/Images/@img" style="width:100%; height:100%;" />
        </div>
    </div>

    <div class="col-md-6">
        <br />
        <center>
            <h1 class="display-3">@Model.Productlist[Model.ID - 1].Price  kr</h1>
            <a class="btn btn-outline-primary" asp-controller="Checkout" asp-action="ShoppingCart"
               asp-route-ID="@Model.ID" asp-route-CartSign="false">
                Add to cart
            </a>
            <br />
            <br />
            <b>Stockstatus</b>
            <p style="border:1px; border-style:solid; border-color:#000000"></p>
            <div class="form group">
                <b style="float:left">In stock:</b>
                <p>3 st</p>
            </div>
        </center>
    </div>
</div>
<p style="border:1px; border-style:solid; border-color:#000000;"></p>

<center>
    <b>Product Description</b>
    <p style="border:1px; border-style:solid; border-color:#000000"></p>
    <div class="form-group-item">
        <p>@Model.Productlist[Model.ID - 1].Description</p>
    </div>
    <p style="border:1px; border-style:solid; border-color:#000000;"></p>

    <b>Specific productinformation</b>
    <p style="border:1px; border-style:solid; border-color:#000000"></p>
    <div class="form-group">
        <p><b>Release: </b>@Model.Release.ToString("yyyy-MM-dd")</p>
        <p><b>Maker: </b>@Model.Productlist[Model.ID - 1].Maker</p>
    </div>
</center>
