@model OrderViewModel
@{
}
<center>
    <h1>Confirm your order</h1>
</center>
<br />

<div class="row">
    <div class="col-md-6">
        <center>
            <h2>Your Products:</h2>
        </center>
        <p style="border:1px; border-style:solid; border-color:#000000"></p>

        <center>
            <b style="color:darkblue; float:left">Product</b>
            <b style="color:darkblue"> Unit Price * Amount</b>
        </center>
        <p style="border:1px; border-style:solid; border-color:#000000"></p>

        @foreach (var item in Model.CartList)
        {
            <div class="row">
                <div class="col-md-6">
                    <b>@item.Name - @item.Maker</b>
                    <p>@item.Description</p>
                </div>

                <div class="col-md-6">
                    <b style="float:left">@item.Price kr</b>
                    @{ string img = item.Name + ".jpg";}
                    <img src="~/Images/@img" style="height:100%; width:48%; float:right" />
                    <br />
                    <p>Amount: #</p>
                </div>
            </div>
            <p style="border:1px; border-style:solid; border-color:#808080"></p>
        }

        <center>
            <b>Totalsum: @Model.Totalsum kr</b>
            <br />
            <a class="btn btn-primary" asp-controller="Checkout" asp-action="ShoppingCart">Change Content</a>
        </center>
    </div>

    <div class="col-md-6">
        <center>
            <h2>PAYMENT</h2>
            <p style="border:1px; border-style:solid; border-color:#000000"></p>
        </center>

        <b>SHIPMENT</b>
        <p style="border:1px; border-style:solid; border-color:#000000"></p>
        <div class="form-group">
            <p><input type="radio" checked name="Shipment" /> BRING IN STORE</p>
            <p><input type="radio" name="Shipment" /> SEND TO ME</p>
            <p style="border:1px; border-style:solid; border-color:#000000"></p>
        </div>

        <b>WAY TO PAY</b>
        <p style="border:1px; border-style:solid; border-color:#000000"></p>
        <div class="form-group">
            <p><input type="radio" checked name="Way" value="Pay" /> PAY IN STORE</p>
            <p><input type="radio" name="Way" value="swish" /> SWISH</p>
            <p style="border:1px; border-style:solid; border-color:#000000"></p>
        </div>

        <b>INFORMATION</b>
        <p style="border:1px; border-style:solid; border-color:#000000"></p>
        <div class="form-group">
            <p><b>UserID:</b> @Model.UserID</p>
            <p><b>Email:</b> @Model.Email</p>
        </div>
        <p style="border:1px; border-style:solid; border-color:#000000"></p>
        <center>
            <a class="btn btn-success" asp-controller="Order" asp-action="InsertConfirmedOrder" asp-route-TotalSum="@Model.Totalsum">
                Checkout
            </a>
        </center>
    </div>
</div>