@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model OrderViewModel
@{
}

<h1 style="color:darkblue">Cart</h1>
<br />

<p style="color:red">@Model.StatusMessage</p>

@if (Model.CartList.Count() == 0)
{
    <p>Cart is Empty</p>
}
else
{
    @foreach (var item in Model.CartList)
    {
        <div class="row">
            <div class="col-md-6">
                @{string img = item.Name + ".jpg";}
                <img src="~/Images/@img" style="height:90%; width:30%; float:left" />
                <p><b>Name:</b> @item.Name</p>
                <p><b>Description:</b> @item.Description</p>
            </div>

            <div class="col-md-6">
                <b style="color:darkblue; float:left">@item.Price kr</b>
                <br />

                <a class="btn btn-outline-primary" style="float:left; height:2.5rem">-</a>
                <input type="text" style="float:left; text-align:center; width:2.5rem; height:2.5rem" value="1" />
                <a class="btn btn-outline-primary" style="float:left; height:2.5rem">+</a>

                <a class="btn btn-danger" style="float:right; height:2.5rem"
                   asp-controller="Checkout" asp-action="RemoveCartItem" asp-route-ItemID="@item.ID">
                    X
                </a>
            </div>
        </div>
        <p style="border:1px; border-style:solid; border-color:#808080 "></p>
    }
}

<b> <b style="color:darkblue">Totalsum: </b>@Model.Totalsum kr</b>
<br />
<br />

<form class="form-group row" method="post" asp-controller="Checkout" asp-action="ShoppingCart">

    <button type="submit" class="btn btn-danger">Empty Cart</button>

    <a class="btn btn-outline-primary mx-auto" asp-controller="Products" asp-action="IndexProducts">Shop more</a>

    @if (SignInManager.IsSignedIn(User))
    {
        @if (Model.CartList.Count > 0)
        {
            <a style="float:right" class="btn btn-success" asp-controller="Checkout" asp-action="ConfirmOrder">Confirm order</a>
        }
        else
        {
            <button style="float:right" class="btn btn-danger" type="submit" asp-route-Isempty="true">Confirm order</button>
        }
    }
    else
    {
        <a style="float:right" class="btn btn-success" asp-area="Identity" asp-page="/Account/Login" asp-route-LoggedIn="false">Confirm order</a>
    }
</form>
